DB_PORT= #example 5432
DB_USER= #postgres
DB_PASSWORD= #admin123
DB_NAME= #gacdb

#backend config
PORT= #example 3000
NODE_ENV= #development

DATABASE_URL= #example postgresql://user:password@localhost:5432/database